<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetAppliWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForumHierarchyCrosser</display-name>
    <servlet-name>ForumHierarchyCrosser</servlet-name>
    <servlet-class>servlet.ForumHierarchyCrosser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumHierarchyCrosser</servlet-name>
    <url-pattern>/ForumHierarchyCrosser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XmlToRdf</display-name>
    <servlet-name>XmlToRdf</servlet-name>
    <servlet-class>servlet.XmlToRdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlToRdf</servlet-name>
    <url-pattern>/XmlToRdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CopyFile</display-name>
    <servlet-name>CopyFile</servlet-name>
    <servlet-class>servlet.CopyFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyFile</servlet-name>
    <url-pattern>/CopyFile</url-pattern>
  </servlet-mapping>
</web-app>